.ui-datepicker {
  width: 216px;
  height: auto;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 10px 10px 10px 10px;
}

.ui-datepicker a {
  text-decoration: none;
}

.ui-datepicker table {
  width: 100%;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-prev {
  float: left;
  color: black;
  cursor: pointer;
  }

.ui-datepicker-next {
  float: right;
  color: black;
  cursor: pointer;
}

.ui-datepicker td {
  padding: 3px;
}
