<form id="new_accom_button" action="/accommodations/new" method="get">
  <input type="submit" name="new_accom" value="Post a new listing">
</form>



<ul id='accommodations'>
  <% @accommodations.each do |accommodation| %>
    <li>
      <a href="accommodations/<%= accommodation.id %>"><%= accommodation.name %></a> £<%= accommodation.price %>
    </li>
  <% end %>
</ul>
