<!DOCTYPE html>
<html>
  <head>
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/script.js"></script>

  </head>
  <body>
    <p>Accommodation name: <%= @current_accommodation.name %></p>
    <p>Brief Description: <%= @current_accommodation.desc %></p>
    <p>Price: £<%= @current_accommodation.price %></p>


    <p>Select dates:</p>
    <form action="/bookings" method="post">
      Departing: <input type="text" id="departing">
      Returning: <input type="text" id="returning">
      <input type="submit" value="Request Booking">
    </form>
  </body>
</html>
