<p>Accommodation name: <%= @current_accommodation.name %></p>
<p>Brief Description: <%= @current_accommodation.desc %></p>
<p>Price: £<%= @current_accommodation.price %></p>


<p>Select dates:</p>
<form action="/bookings" method="post">
  Departing: <input type="text" name="check_in" id="check-in">
  Returning: <input type="text" name="check_out" id="check-out">
  <input type="submit" value="Request Booking">
</form>
