<p>Accommodation name: <%= @current_accommodation.name %></p>
<p>Brief Description: <%= @current_accommodation.desc %></p>
<p>Price: £<%= @current_accommodation.price %></p>



<p>Select dates:</p>
<form action="/request" method="post">
  Check-in: <input type="text" class="datepicker" placeholder="DD/MM/YYYY" id="check-in" name="check_in" >
  Check-out: <input type="text" class="datepicker" placeholder="DD/MM/YYYY" id="check-out" name="check_out" >
  <input type="hidden" name="accommodation_id" value="<%= @current_accommodation.id %>">
  <input type="submit" value="Request Booking">
</form>
