<form action="/accommodations" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name" required />
  <label for="desc">Description:</label>
  <textarea name="desc" rows="5" cols="50" maxlength="500"></textarea>
  <label for="price">Price per night: £</label>
  <input type="number" name="price" min="1" required />
  <input type="submit" name="submit" value="Submit" />
</form>
