<form action="/accommodations" method="post">
  <label for="name">Name:</label>
  <input type="text" name="name">
  <label for="desc">Description:</label>
  <input type="text" name="desc">
  <label for="price">Price per night:</label>
  <input type="text" name="price">
  <input type="submit" name="submit" value="Submit">
</form>
