<% if flash[:errors] && !flash[:errors].empty? %>
  <p>Please refer to the following errors:</p>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
    <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>