<% if flash[:notice] %>
  <p class="flashtxt"><%= flash[:notice] %></p>
<% end %>

<% if flash[:errors] %>
  <p class="flashtxt">Please refer to the following errors:</p>
  <ul id='errors'>
    <% flash[:errors].each do |error| %>
    <li class="flashtxt"><%= error %></li>
    <% end %>
  </ul>
  <% end %>
