

<% if current_user %>
<div class="row">
<div class="col-md-12 text-right">
  <p class="pull-right loggedintxt">Logged in as <%= current_user.name %></p>
</div>
</div>
<div class="row">
  <div class="col-md-12 text-right">
    <p><form id="logout" action="/sessions" method="post">
      <input type="hidden" name="_method" value="delete" />
      <input type="submit" class="btn btn-info btn-loginout pull-right" value="Log Out" />
    </form>
  </p>
</div>
</div>
<div class="row">
<div class="col-md-12 text-right">
<p></p>
<p><button class="btn btn-info"><a style="color: white; text-decoration: none" href="/requests">Requests</a></button></p>
</div>
</div>


      </p>
    <% else %>
    <div class="row">
    <div class="col-md-12 text-right">
      <form id="login" action="/sessions" method="post">
        <p><input class="form-control-sm rightelements" type="email" name="email" size="25" placeholder="Email" required />
        <input class="form-control-sm rightelements" type="password" name="password" size="20" placeholder="Password" required />
        </p>
        <input type="submit" class="btn btn-info btn-loginout" value="Log In">

    <div class="row">
    <div class="col-md-12 text-right">
      </form>
    </div>
  </div>
  <div class="row">
  <div class="col-md-12 text-right">
    <button class="btn btn-info" ><a style="color: white; text-decoration: none" href="/users/new">Sign Up</a></button>
  </div>
</div>
    <% end %>
